[Desktop Entry]
Encoding=UTF-8
Name=ASCEND
GenericName=ASCEND
Comment=Solve mathematical models in science and engineering
TryExec=ascend
Exec=ascend
StartupNotify=true
Terminal=false
Type=Application
Icon=ascend-app.png
Categories=Application;Math;Science;GTK
MimeType=text/x-ascend-model;
