*.os
*.o
*.so
*.so.*
*.pyc
.scon*
a4
ascend/compiler/ascParse.c
ascend/compiler/ascParse.h
ascend/compiler/scanner.c
ascend/general/config.h
ascend/solver/conoptconfig.h
ascend/utilities/config.h
ascxx/ascpy.py
ascxx/ascpy_wrap.cc
ascxx/ascpy_wrap.h
ascxx/config.h
ascxx/testconopt
ascxx/testipopt
ascxx/testslvreq
config.log
libascend.so.1
listiotempfile.tmp
models/johnpye/fprops/fluids/fluids_list.h
models/johnpye/fprops/python/fprops.py
models/johnpye/fprops/python/fprops_wrap.c
options.cache
pygtk/ascdev
pygtk/ascend
pygtk/config.py
test/test
test_readln.txt

