*.os
*.o
*.so
*.so.*
*.pyc
*.pyd
*.dll
*.a
*.def
*.exe
.scon*
a4
ascend/compiler/ascParse.c
ascend/compiler/ascParse.h
ascend/compiler/scanner.c
ascend/compiler/test/LOG.html
ascend/general/config.h
ascend/solver/conoptconfig.h
ascend/utilities/config.h
ascxx/ascpy.py
ascxx/ascpy_wrap.cc
ascxx/ascpy_wrap.h
ascxx/config.h
ascxx/testconopt
ascxx/testipopt
ascxx/testslvreq
config.log
libascend.so.1
listiotempfile.tmp
models/johnpye/fprops/fluids/fluids_list.h
models/johnpye/fprops/python/fprops.py
models/johnpye/fprops/python/fprops_wrap.c
options.cache
pygtk/ascdev
pygtk/ascend
pygtk/config.py
pygtk/glade/*~
test/test
test_readln.txt
**/*.gcno
**/*.gcda
models/johnpye/fprops/mix
models/johnpye/fprops/test_cubicroots
cscope.*
tcltk/interface/ascend4
tcltk/interface/typelex.c
tcltk/asc4dev
