[Desktop Entry]
Encoding=UTF-8
Name=ASCEND Tcl/Tk
GenericName=ASCEND
Comment=Solve difficult simulation problems
TryExec=ascend4
Exec=ascend4
StartupNotify=true
Terminal=true
Type=Application
Icon=ascend-app.png
Categories=Application;Math;Science;GTK
MimeType=text/x-ascend;

